<!DOCTYPE html>

<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>
    <%= titulo %>
  </title>
  <script src="https://cdn.tailwindcss.com">
  </script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body class="fundo-1 text-white">

  <div class="relative h-screen flex flex-col items-center justify-center"> <!--Flex-col pra deixar o flex em coluna, se não fica o flex normal-->
    <img alt="Imagem com varias patar ao redor do login, na cor ciano"
      class="absolute inset-0 object-cover" height="1080"
      src="images/patas-ciano.png"
      width="1920" />
    <h1 class="text-3xl poppins-bold-login">LOGIN CONFIRMADO!</h1>
    <p>Você será redirecionado para a home em instantes...</p>
    <img src="/images/logo-branco.png" alt="logo de um cachorro vetorizado ciano" class="mb-12 logo-login">
  </div>
  
  <script>
    setTimeout(() => {
      window.location.href = '/home';
    }, 2000); // 2000ms = 2 segundos
  </script>
</body>

</html>