@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.body {
  padding: 50px;
}

.fundo-1 {
  background-color: #1f1f1f;
}

.fundo-cinza {
  background-color: #d9d9d9;
}

.main-color {
  color: #00CAC7;
}

.bg-main-color {
  background-color: #00CAC7;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold-login {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color:#00CAC7;
}

input::placeholder {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #555555;
  font-weight: 400;
}

.logo-login {
  width: 30vh;
}


.sei-la-oque {
  font-family: 'Roboto', sans-serif;
}

.tira-margem-padding {
  padding-bottom: 0%;
  margin-bottom: 0%;
  
}

.pesquisar::placeholder {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #3a3a3a;
  font-weight: 500;
}

.fundo-azul {
  background-color: #c1fbff;
}